<div class="mat-elevation-z8" [ngStyle]="{'height': scrHeight}">
  <table mat-table [dataSource]="dataSource | async">
    <!-- Item Column -->

    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef class="table-header"> Project </th>
      <td mat-cell *matCellDef="let element" class="project"> {{element.project}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef class="table-header"> Task </th>
      <td mat-cell *matCellDef="let element" class="task"> {{element.task}} </td>
      <td mat-footer-cell *matFooterCellDef> Total Hours </td>
    </ng-container>
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef class="table-header"> Hours </th>
      <td mat-cell *matCellDef="let element" width='120px'> 
        <button *ngIf="!element.isInProgress" (click)='startTimer(element.id)' mat-stroked-button color="primary"><mat-icon>play_circle_outline</mat-icon>{{element.duration*1000 | date: 'HH:mm:ss':'GMT'}}</button>
        <button *ngIf="element.isInProgress" (click)='pauseTimer(element.id)' mat-stroked-button color="primary"><mat-icon>pause_circle_outline</mat-icon>{{element.duration*1000 | date: 'HH:mm:ss':'GMT'}}</button> 
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button mat-flat-button color="primary" class="total-hours-button">{{getTotalDuration()*1000 | date: 'HH:mm:ss':'GMT'}}</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="star">
      <th mat-header-cell *matHeaderCellDef width='10px'></th>
      <td mat-cell *matCellDef="let element" width='10px'> 
        <div class="more-options">
          <mat-icon (click)='pauseTimer(element.id)'>more_vert</mat-icon>
        </div>
      </td>
      <td mat-footer-cell *matFooterCellDef width='10px'>
        <button mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
</div>